@use "../../styles/mixinAndVariables.scss" as styleFile;

.sign-up {
  @include styleFile.display-type(row);

  .section-sign-up {
    @include styleFile.align-element-with-flex(center);
    flex-direction: column;
    width: 70%;

    .login-container-nav {
      @include styleFile.align-element-with-flex(flex-end);
      position: absolute;
      margin-top: -680px;
      width: 70%;
      margin-right: 50px;

      .login-link {
        @include styleFile.align-element-with-flex(space-around);
        width: 210px;

        span {
          @include styleFile.style-font(14px);
        }

        .link-l {
          text-decoration: none;
          background-color: rgb(249, 249, 251);
          color: rgb(66, 66, 66);
          font-weight: 300;
          font-size: 14px;
        }

        .link-l:hover {
          cursor: pointer;
        }
      }
    }

    .title-and-message {
      @include styleFile.display-type(column);
      width: 45%;

      .title-sign-up {
        font-weight: 900;
        font-size: 23px;
      }

      .message-sign-up {
        @include styleFile.style-font(14px);
        margin-top: -10px;
      }
    }

    .form-sign-up {
      @include styleFile.display-type(column);
      width: 45%;
      margin-top: 20px;

      .textfield-label {
        font-size: 14px !important;
        color: styleFile.$color-gray !important;
      }

      .icon-visibility {
        color: rgb(224, 227, 230);
      }

      .icon-visibility:hover {
        cursor: pointer;
      }

      .botton-sign-up {
        width: 50%;
        height: 46px;
        margin-top: 40px;
        width: 40%;
        color: white;
        background-color: styleFile.$background-color-button;
      }

      .botton-sign-up:hover {
        background-color: styleFile.$background-color-button;
      }
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .sign-up {
    @include styleFile.align-element-with-flex(center);

    .section-sign-up {
      @include styleFile.align-element-with-flex(flex-end);
      width: 100%;
      height: 660px;

      .login-container-nav {
        width: auto;
        margin-right: inherit;
        position: inherit;
      }

      .title-and-message {
        .title-sign-up,
        .message-sign-up {
          text-align: center;
        }
      }

      .form-sign-up {
        @include styleFile.align-element-with-flex(center);
        width: 90%;
      }
    }
  }
}
