@use "../../styles/mixinAndVariables.scss" as styleFile;

.profile-container {
  @include styleFile.display-type(column);
  height: auto;

  .user-name-profile-container {
    @include styleFile.align-element-with-flex(end);
    width: 100%;
    height: 80px;

    .avatar-name-profile-container {
      @include styleFile.align-element-with-flex(center);
      margin-right: 30px;

      .user-name-text-p {
        width: 70px;
        margin-left: 5px;
      }

      .arrow-container-p {
        height: 40px;
      }

      .arrow-container-p:hover {
        cursor: pointer;
      }
    }
  }

  .modal-profile-container {
    position: absolute;
    margin: 80px 0 0 80%;

    .modal-container-p {
      @include styleFile.align-element-with-flex(space-evenly);
      @include styleFile.border-background-events-element;
      flex-direction: column;
      width: 250px;
      height: 150px;

      .profile-button {
        @include styleFile.align-element-with-flex(center);
        height: 25px;
        width: 80%;
        text-align: center;
        border-radius: 15%;
        border: 2px solid rgb(100, 207, 140);
        box-shadow: 0 1px 1px rgba(229, 232, 236, 0.5);
      }

      .profile-button:hover {
        cursor: pointer;
      }

      .sign-out-button-p {
        @include styleFile.align-element-with-flex(center);
        height: 25px;
        width: 80%;
        border-top: 1px solid rgb(150, 157, 166);
      }

      .sign-out-button-p:hover {
        cursor: pointer;
      }

      .dashboard-button:hover {
        cursor: pointer;
      }

      .profile-button,
      .sign-out-button-p,
      .dashboard-button {
        font-weight: bolder;
      }
    }
  }

  .hide-modal-profile-container {
    opacity: 0;
  }

  .user-information-profile-container {
    @include styleFile.align-element-with-flex(space-evenly);
    @include styleFile.border-background-events-element;
    flex-direction: column;
    margin: auto;
    width: 80%;
    height: 130px;

    .user-avatar {
      position: absolute;
      margin-top: -130px;
      height: 80px;
      width: 80px;
      font-size: 30px;
      font-weight: bolder;
    }

    .user-information-p {
      @include styleFile.align-element-with-flex(center);
      flex-direction: column;
      width: 200px;
      margin-top: 50px;
    }

    .user-name-p,
    .email-user-p {
      margin: 3px 0 3px 0;
    }

    .user-name-p,
    .user-name-p {
      font-size: 14px;
      color: black;
      font-weight: bold;
    }

    .email-user-p {
      @include styleFile.style-font(12px);
    }
  }

  .dashboard-view {
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: 30px auto auto auto;

    span {
      font-weight: bolder;
    }

    .viewModule-icon:hover {
      cursor: pointer;
    }

    .viewStream-icon {
      cursor: pointer;
    }
  }

  .dashboard-view-row {
    @include styleFile.align-element-with-flex(center);
    flex-flow: wrap;
    width: 95%;
    margin: auto;

    .element {
      @include styleFile.display-type(column);
      justify-content: space-evenly;
      margin: 6px;
      width: 25%;
      height: 200px;
      padding: 20px;
      @include styleFile.border-background-events-element;

      .date-time-container {
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;

        .dash {
          margin: 0 5px 0 5px;
        }
      }

      .title-event {
        margin-bottom: 0;
        font-weight: styleFile.$font-weigth-bolder;
      }

      .p-host {
        margin-top: 0;
        font-weight: styleFile.$font-weigth-bolder;
        @include styleFile.style-font(13px);
      }

      .description-event {
        width: 180px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .button-attendees-capacity-container {
        @include styleFile.align-element-with-flex(space-between);

        .attendees {
          display: flex;
          align-items: center;
          @include styleFile.style-font(13px);
          font-weight: styleFile.$font-weigth-400;
        }

        .of-text {
          margin: 0 5px 0 5px;
        }
      }

      .button-event:hover {
        background-color: styleFile.$background-color-button;
      }
    }

    .element:hover {
      cursor: pointer;
    }
  }

  .dashboard-view-column {
    @include styleFile.display-type(column);
    align-items: center;
    margin: 10px auto 60px auto;
    width: 80%;

    .element-column {
      @include styleFile.align-element-with-flex(space-between);
      margin-bottom: 10px;
      padding: 5px 18px 5px 18px;
      height: 50px;
      width: 100%;
      @include styleFile.border-background-events-element;

      .date-time-container {
        @include styleFile.style-font(10px);
        width: 130px;
        font-weight: styleFile.$font-weigth-400;
      }

      .title-event {
        font-size: 14px;
        width: 180px;
      }

      .p-host {
        width: 100px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .description-event {
        width: 250px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .button-attendees-capacity-container {
        @include styleFile.align-element-with-flex(space-between);

        .attendees {
          width: 120px;
          @include styleFile.style-font(13px);
          font-weight: styleFile.$font-weigth-400;

          span {
            height: 40px;
          }

          .of-text {
            margin: 0 5px 0 5px;
          }
        }

        .button-event:hover {
          background-color: styleFile.$background-color-button;
        }
      }
    }

    .element-column :hover {
      cursor: pointer;
    }
  }

  .element .button-event,
  .element-column .button-event {
    width: 100px;
    height: 30px;
    background-color: styleFile.$background-color-button;
    font-weight: bold;
  }

  .icon-hide-person {
    opacity: 0;
    font-size: 0;
  }

  .pagination-bttns {
    @include styleFile.align-element-with-flex(center);
    width: 80%;
    height: 40px;
    list-style: none;
    margin: 30px auto auto auto;

    a {
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid rgb(100, 207, 140);
      cursor: pointer;
    }

    a:hover {
      color: white;
      background-color: rgb(100, 207, 140);
    }

    .pagination-active a {
      color: white;
      background-color: rgb(100, 207, 140);
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .profile-container {
    height: 700px;

    .user-name-profile-container {
      margin: 20px 0 100px 0;
    }

    .user-information-profile-container {
      width: 90%;
    }

    .dashboard-view-row {
      .element {
        width: 100%;
      }
    }

    .dashboard-view-column {
      .element-column {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        height: 100px;
        padding: 15px;

        .date-time-container,
        .title-event,
        .p-host,
        .description-event {
          margin: 0;
        }
        .button-attendees-capacity-container {
          @include styleFile.align-element-with-flex(space-between);
          margin-top: 10px;
          width: 100%;
        }
      }
    }

    .modal-profile-container {
      margin: 70px 0 0 25%;
    }
  }
}
