@use "../../styles/mixinAndVariables.scss" as styleFile;

.element {
  @include styleFile.display-type(column);
  justify-content: space-evenly;
  margin: 6px;
  width: 28.6%;
  height: 200px;
  padding: 20px;
  @include styleFile.border-background-events-element;

  .date-time-container {
    @include styleFile.style-font(13px);
    font-weight: styleFile.$font-weigth-400;

    .dash {
      margin: 0 5px 0 5px;
    }
  }

  .title-event {
    margin-bottom: 0;
    font-weight: styleFile.$font-weigth-bolder;
  }

  .p-host {
    margin-top: 0;
    font-weight: styleFile.$font-weigth-bolder;
    @include styleFile.style-font(13px);
  }

  .description-event {
    width: 180px;
    @include styleFile.style-font(13px);
    font-weight: styleFile.$font-weigth-400;
  }

  .button-attendees-capacity-container {
    @include styleFile.align-element-with-flex(space-between);

    .attendees {
      display: flex;
      align-items: center;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .of-text {
      margin: 0 5px 0 5px;
    }
  }

  .button-event:hover {
    background-color: styleFile.$background-color-button;
  }

  .pink-class-button:hover {
    background-color: rgb(235, 81, 129);
  }
}

.element:hover {
  cursor: pointer;
}

.element-column {
  @include styleFile.align-element-with-flex(space-between);
  margin-bottom: 10px;
  padding: 5px 18px 5px 18px;
  height: 50px;
  width: 100%;
  @include styleFile.border-background-events-element;

  .date-time-container {
    @include styleFile.style-font(10px);
    width: 130px;
    font-weight: styleFile.$font-weigth-400;
  }

  .title-event {
    font-size: 14px;
    width: 180px;
  }

  .p-host {
    width: 100px;
    @include styleFile.style-font(13px);
    font-weight: styleFile.$font-weigth-400;
  }

  .description-event {
    width: 250px;
    @include styleFile.style-font(13px);
    font-weight: styleFile.$font-weigth-400;
  }

  .button-attendees-capacity-container {
    @include styleFile.align-element-with-flex(space-between);

    .attendees {
      width: 120px;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;

      span {
        height: 40px;
      }

      .of-text {
        margin: 0 5px 0 5px;
      }
    }

    .button-event:hover {
      background-color: styleFile.$background-color-button;
    }

    .pink-class-button:hover {
      background-color: rgb(235, 81, 129);
    }
  }
}

.element-column :hover {
  cursor: pointer;
}

.element .button-event,
.element-column .button-event {
  width: 100px;
  height: 30px;
  background-color: styleFile.$background-color-button;
  font-weight: bold;
}

.element .pink-class-button,
.element-column .pink-class-button {
  width: 100px;
  height: 30px;
  background-color: rgb(235, 81, 129);
  font-weight: bold;
}

.icon-hide-person {
  opacity: 0;
  font-size: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .element {
    width: 100%;
  }

  .element-column {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    padding: 15px;

    .date-time-container,
    .title-event,
    .p-host,
    .description-event {
      margin: 0;
    }

    .button-attendees-capacity-container {
      @include styleFile.align-element-with-flex(space-between);
      margin-top: 10px;
      width: 100%;
    }
  }
}
