@use "../../styles/mixinAndVariables.scss" as styleFile;

$event-container-color: rgb(255, 255, 255);

.container-event-section {
  @include styleFile.display-type(column);
  align-items: center;
  position: absolute;
  background-color: rgb(249, 249, 251);
  width: 100%;
  height: auto;

  .p-title {
    font-size: 11px;
    width: 80%;
    text-align: left;
  }

  .header-component {
    @include styleFile.align-element-with-flex(center);
    width: 100%;

    .back-button {
      @include styleFile.align-element-with-flex(center);
      width: 70%;

      span {
        margin-left: 10px;
      }
    }

    .back-button:hover {
      cursor: pointer;
    }
  }

  .section-event-information {
    width: 80%;

    .container-event {
      @include styleFile.display-type(row);
      width: 100%;

      .information-event {
        width: 60%;
        margin-right: 15px;

        .time-date-container {
          @include styleFile.style-font(12px);

          .dash-d {
            margin: 0 5px 0 5px;
          }
        }

        .title {
          font-weight: styleFile.$font-weigth-bolder;
          font-size: 30px;
          margin-bottom: 8px;
        }

        .host-e {
          margin-top: 0;
        }

        .description-event-e {
          margin: 25px 0 30px 0;
          width: auto;
        }

        .attendees-capacity-button-container {
          @include styleFile.align-element-with-flex(space-between);
          color: styleFile.$color-gray;
          width: 100%;

          .attendees-capacity-container {
            @include styleFile.align-element-with-flex(center);

            .person-icon {
              margin-right: 5px;
            }
            .of-text-d {
              margin: 0 5px 0 5px;
            }

            span {
              @include styleFile.style-font(12px);
            }
          }

          .button-event-detail {
            width: 100px;
            height: 30px;
            background-color: styleFile.$background-color-button;
          }
        }

        .time,
        .host-e,
        .description-event-e,
        .attendees-e {
          font-size: 11px;
        }
      }

      .name-attendees {
        width: 30%;
      }

      .information-event,
      .name-attendees {
        @include styleFile.border-background-events-element;
        height: auto;
        padding: 20px;
      }
    }
  }
}
