@use "../../styles/mixinAndVariables.scss" as styleFile;

.error-component-container {
  @include styleFile.display-type(row);

  .error-container {
    @include styleFile.align-element-with-flex(center);
    flex-direction: column;
    width: 60%;
    margin: auto;

    .link-container {
      @include styleFile.align-element-with-flex(flex-end);
      position: absolute;
      margin-top: -680px;
      width: 70%;
      margin-right: 50px;

      .sign-up-link {
        @include styleFile.align-element-with-flex(space-around);
        width: 180px;

        span {
          @include styleFile.style-font(14px);
        }

        .link-sign-up {
          text-decoration: none;
          background-color: white;
          color: rgb(66, 66, 66);
          font-weight: 300;
          font-size: 14px;
        }

        .link-sign-up:hover {
          cursor: pointer;
        }
      }
    }

    .error-text {
      @include styleFile.display-type(column);
      width: 60%;

      h1 {
        font-weight: bolder;
        font-size: 25px;
        color: rgb(51, 59, 71);
        height: 15px;
      }

      .p {
        color: rgb(150, 157, 167);
      }

      .refresh-button {
        margin-top: 10px;
        width: 30%;
        background-color: rgb(51, 59, 71);
      }
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .error-component-container {
    width: 100%;
    height: 740px;

    .error-container {
      height: 550px;
      margin: inherit;
      width: 100%;
      justify-content: space-around;

      .link-container {
        position: inherit;
        margin-top: inherit;
        width: 95%;
        margin-right: 20px;
      }

      .error-text {
        width: 80%;

        .refresh-button {
          margin: 20px auto;
        }
      }
    }
  }
}
