@use "../../styles/mixinAndVariables.scss" as styleFile;

.event-container {
  @include styleFile.display-type(column);
  height: auto;
  background-color: rgb(249, 249, 251);

  .user-name-container {
    @include styleFile.align-element-with-flex(end);
    width: 100%;
    height: 80px;

    .avatar-name-container {
      @include styleFile.align-element-with-flex(center);
    }

    .avatar-name-container:hover {
      cursor: pointer;
    }

    .back-button {
      @include styleFile.align-element-with-flex(center);
      width: 70%;

      span {
        margin-left: 10px;
      }
    }

    .back-button:hover {
      cursor: pointer;
    }

    .back-button-hidden {
      opacity: 0;
    }
  }

  .nav-icon-container {
    @include styleFile.align-element-with-flex(space-between);
    margin: auto;
    width: 81%;
    margin-bottom: 10px;

    .nav-link-container {
      display: flex;
      font-size: 14px;
      width: 300px;

      .link-1 {
        width: 70px;
      }

      .link-2 {
        width: 95px;
      }

      .link-3 {
        width: 70px;
      }

      .link-1,
      .link-2,
      .link-3 {
        text-decoration: none;
        color: styleFile.$color-gray;
      }

      .link-1:hover {
        cursor: pointer;
      }

      .link-2:hover {
        cursor: pointer;
      }

      .link-3:hover {
        cursor: pointer;
      }
    }

    .view-icon {
      .view-module:hover {
        cursor: pointer;
      }

      .view-stream:hover {
        cursor: pointer;
      }
    }
  }

  .box-event-view-row {
    @include styleFile.align-element-with-flex(center);
    flex-flow: wrap;
    width: 95%;
    margin: auto;

    .element {
      @include styleFile.display-type(column);
      justify-content: space-evenly;
      margin: 6px;
      width: 25%;
      height: 200px;
      padding: 20px;
      @include styleFile.border-background-events-element;

      .date-time-container {
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;

        .dash {
          margin: 0 5px 0 5px;
        }
      }

      .title-event {
        margin-bottom: 0;
        font-weight: styleFile.$font-weigth-bolder;
      }

      .p-host {
        margin-top: 0;
        font-weight: styleFile.$font-weigth-bolder;
        @include styleFile.style-font(13px);
      }

      .description-event {
        width: 180px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .button-attendees-capacity-container {
        @include styleFile.align-element-with-flex(space-between);

        .attendees {
          display: flex;
          align-items: center;
          @include styleFile.style-font(13px);
          font-weight: styleFile.$font-weigth-400;
        }

        .of-text {
          margin: 0 5px 0 5px;
        }
      }

      .button-event:hover {
        background-color: styleFile.$background-color-button;
      }
    }

    .element:hover {
      cursor: pointer;
    }
  }

  .box-event-view-column {
    @include styleFile.display-type(column);
    align-items: center;
    margin: 10px auto 60px auto;
    width: 80%;

    .element-column {
      @include styleFile.align-element-with-flex(space-between);
      margin-bottom: 10px;
      padding: 5px 18px 5px 18px;
      height: 50px;
      width: 100%;
      @include styleFile.border-background-events-element;

      .date-time-container {
        @include styleFile.style-font(10px);
        width: 130px;
        font-weight: styleFile.$font-weigth-400;
      }

      .title-event {
        /* color: rgb(0, 2, 5); */
        font-size: 14px;
        width: 180px;
      }

      .p-host {
        width: 100px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .description-event {
        width: 250px;
        @include styleFile.style-font(13px);
        font-weight: styleFile.$font-weigth-400;
      }

      .button-attendees-capacity-container {
        @include styleFile.align-element-with-flex(space-between);

        .attendees {
          width: 120px;
          @include styleFile.style-font(13px);
          font-weight: styleFile.$font-weigth-400;

          span {
            height: 40px;
          }

          .of-text {
            margin: 0 5px 0 5px;
          }
        }

        .button-event:hover {
          background-color: styleFile.$background-color-button;
        }
      }
    }

    .element-column :hover {
      cursor: pointer;
    }
  }

  .element .button-event,
  .element-column .button-event {
    width: 100px;
    height: 30px;
    background-color: styleFile.$background-color-button;
    font-weight: bold;
  }

  .add-new-event-container {
    @include styleFile.align-element-with-flex(end);
    margin-right: 50px;

    .add-new-event-button {
      font-size: 50px;
      color: rgb(51, 59, 68);
    }

    .add-new-event-button:hover {
      cursor: pointer;
    }
  }

  .container-dashboard-hidden {
    opacity: 0;
  }

  .icon-hide-person {
    opacity: 0;
  }

  .pagination-bttns {
    @include styleFile.align-element-with-flex(center);
    width: 80%;
    height: 40px;
    list-style: none;
    margin: auto;

    a {
      padding: 5px;
      margin: 5px;
      border-radius: 5px;
      border: 1px solid rgb(100, 207, 140);
      cursor: pointer;
    }

    a:hover {
      color: white;
      background-color: rgb(100, 207, 140);
    }

    .pagination-active a {
      color: white;
      background-color: rgb(100, 207, 140);
    }
  }
}
