@use "../../styles/mixinAndVariables.scss" as styleFile;

.event-container {
  @include styleFile.display-type(column);
  height: auto;
  background-color: rgb(249, 249, 251);

  .user-name-container {
    @include styleFile.align-element-with-flex(end);
    width: 100%;
    height: 80px;

    .user-name-text {
      width: 120px;
      margin-left: 5px;
    }

    .back-button {
      @include styleFile.align-element-with-flex(center);
      width: 70%;

      span {
        margin-left: 10px;
      }
    }

    .back-button-hidden {
      opacity: 0;
    }

    .back-button:hover {
      cursor: pointer;
    }
  }
}

.nav-icon-container {
  @include styleFile.align-element-with-flex(space-between);
  margin: auto;
  width: 81%;
  margin-bottom: 10px;

  .nav-link-container {
    display: flex;
    font-size: 14px;
    width: 300px;
  }

  .link-1 {
    width: 70px;
  }

  .link-2 {
    width: 95px;
  }

  .link-3 {
    width: 70px;
  }

  .link-1,
  .link-2,
  .link-3 {
    text-decoration: none;
    color: styleFile.$color-gray;
  }
}

.container-dashboard-hidden {
  opacity: 0;
}

.box-event-view-row {
  @include styleFile.align-element-with-flex(center);
  flex-flow: wrap;
  width: 95%;
  margin: auto auto 30px auto;

  .element {
    @include styleFile.display-type(column);
    justify-content: space-evenly;
    margin: 6px;
    width: 25%;
    height: 200px;
    padding: 20px;
    @include styleFile.border-background-events-element;

    .date-time {
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .title-event {
      margin-bottom: 0;
      font-weight: styleFile.$font-weigth-bolder;
    }

    .p-host {
      margin-top: 0;
      font-weight: styleFile.$font-weigth-bolder;
      @include styleFile.style-font(13px);
    }

    .description-event {
      width: 180px;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .attendees {
      display: flex;
      align-items: center;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .button-span-container {
      @include styleFile.align-element-with-flex(space-between);
    }

    .button-event:hover {
      background-color: styleFile.$background-color-button;
    }
  }

  .element:hover {
    cursor: pointer;
  }
}

.box-event-view-column {
  @include styleFile.display-type(column);
  align-items: center;
  margin: 10px auto 60px auto;
  width: 80%;

  .element-column {
    @include styleFile.align-element-with-flex(space-between);
    margin-bottom: 10px;
    padding: 5px 18px 5px 18px;
    height: 50px;
    width: 100%;
    @include styleFile.border-background-events-element;

    .date-time {
      @include styleFile.style-font(10px);
      width: 130px;
      font-weight: styleFile.$font-weigth-400;
    }

    .title-event {
      /* color: rgb(0, 2, 5); */
      font-size: 14px;
      width: 180px;
    }

    .p-host {
      width: 100px;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .description-event {
      width: 250px;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .button-span-container {
      @include styleFile.align-element-with-flex(space-between);

      span {
        height: 40px;
      }
    }

    .attendees {
      width: 120px;
      @include styleFile.style-font(13px);
      font-weight: styleFile.$font-weigth-400;
    }

    .button-event:hover {
      background-color: styleFile.$background-color-button;
    }
  }

  .element-column :hover {
    cursor: pointer;
  }
}

.icon-hide {
  opacity: 0;
}

.element .button-event,
.element-column .button-event {
  width: 100px;
  height: 30px;
  background-color: styleFile.$background-color-button;
  font-weight: bold;
}

.icon-add-container {
  @include styleFile.align-element-with-flex(end);
  margin: 30px 50px 0 0;

  .icon-add {
    font-size: 50px;
    color: rgb(51, 59, 68);
  }

  .icon-add:hover {
    cursor: pointer;
  }
}
