$font-color: rgb(150, 157, 166);
.login {
  display: flex;
  flex-direction: row;
}

.section-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.sign-in-link {
  position: absolute;
  margin-top: -680px;
  margin-left: 700px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-in-link span {
  font-size: 14px;
  color: $font-color;
}

.link-s {
  text-decoration: none;
  background-color: white;
  color: rgb(66, 66, 66);
  font-weight: 300;
  font-size: 14px;
}

.link-s:hover {
  cursor: pointer;
}

.title-and-message {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.title-login {
  font-weight: 900;
  font-size: 23px;
}

.message-login {
  margin-top: -10px;
  font-size: 14px;
  font-weight: bold;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 20px;
}

.textfield-label {
  font-size: 14px !important;
  color: $font-color !important;
}

.icon-visibility {
  color: rgb(224, 227, 230);
}

.icon-visibility:hover {
  cursor: pointer;
}

.botton-login {
  width: 50%;
  height: 46px;
}

.form-login .botton-login {
  margin: 40px auto;
  width: 40%;
  color: white;
  background-color: rgb(100, 207, 140);
}

.form-login .botton-login:hover {
  background-color: rgb(100, 207, 140);
}
