@use "../../styles/mixinAndVariables.scss" as styleFile;

img {
  height: 758px;
  width: 30%;
}

.text-image {
  @include styleFile.display-type(column);
  align-items: center;
  margin-top: 550px;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  color: white;

  .p-image {
    font-size: 28px;
    text-align: center;
    margin: 0;
    font-weight: styleFile.$font-weigth-bolder;
  }

  .span-1 {
    color: styleFile.$background-color-button;
    font-size: 30px;
    font-weight: 900;
  }

  .p-image-2 {
    color: styleFile.$color-gray;
  }
}
